@import 'reset.scss';
@import 'utilities/mixins';
@import 'utilities/variables';

body {
  background-color: $bg-color--primary;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  color: $grey-lightest;
}

.bg--gradient {
  background: linear-gradient(145deg,$bg-color--primary, $bg-color--secondary);
  background-attachment: fixed;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  & > * { grid-column: 2 / -2; }
  header {
    background: rgba(0,0,0,.036);
    grid-column: 1 / -1;
    min-height: 80px; 
    margin-bottom: 20px;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: left;
    align-items: center; 
    color: #fff;
    text-align: center;
    h1 {
      transition: all .2s ease-in-out;
      &:hover {
        transform: scale(1.025);
      }
      a {
        text-decoration: none;
        color: $grey-lightest;
        &:hover span {
          opacity: 1;
        }
      }
      font-size: 1.5rem;
      span {
        letter-spacing: -.025rem;
        span {
          transition: opacity .3s ease-in-out;
          margin-left: -.15rem;
          opacity: 0.5;  
        }
      }
    }
  }
  footer {
    height: 50px;
    display: flex;
    justify-content: flex-end;
  }
}