html {
  height: 100%;
  box-sizing: border-box;
  font-size: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }

h2 {
  font-size: 1.3rem; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on; }

body {
  background-color: #00a2a8;
  color: #f8fafc;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px; }

.bg--gradient {
  background: linear-gradient(145deg, #00a2a8, #054263);
  background-attachment: fixed; }

.wrapper {
  min-width: 100vw; }
  .wrapper header {
    background-color: rgba(0, 0, 0, 0.05);
    min-height: 80px;
    margin-bottom: 20px;
    padding: 0 28px 0 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff; }
    .wrapper header .header__content {
      display: flex;
      width: 95vw;
      margin: 0 auto; }
      @media (min-width: 540px) {
        .wrapper header .header__content {
          width: 86vw; } }
      @media (min-width: 1024px) {
        .wrapper header .header__content {
          width: 80vw; } }
      @media (min-width: 1280px) {
        .wrapper header .header__content {
          width: 74vw; } }
      .wrapper header .header__content h1 {
        font-size: 1.5rem; }
        .wrapper header .header__content h1 a {
          text-decoration: none;
          color: #f8fafc; }
          .wrapper header .header__content h1 a:hover span {
            opacity: 1; }
        .wrapper header .header__content h1 span {
          transition: opacity .3s ease-in-out;
          letter-spacing: -.025rem; }
          .wrapper header .header__content h1 span span {
            margin-left: -.15rem;
            opacity: 0.5; }
      .wrapper header .header__content .year {
        margin: 0 0 0 auto; }
  .wrapper .ui.selection.dropdown {
    margin-bottom: .5rem;
    padding-left: 14px;
    min-height: 60px; }
  .wrapper .ui.dropdown > .text {
    padding: .42rem .12rem .42rem 0;
    color: #009DA5; }
  .wrapper .ui.selection.dropdown .menu.transition.visible > .item {
    padding-top: 1.2rem !important;
    padding-bottom: 1.2rem !important; }
    .wrapper .ui.selection.dropdown .menu.transition.visible > .item:last-child {
      padding-bottom: 1.5rem !important; }
  .wrapper .ui.selection.dropdown .menu {
    max-height: 18rem; }
  .wrapper .ui.dropdown .menu .active.item {
    color: #009DA5; }
  .wrapper .ui.dropdown > .dropdown.icon {
    font-size: 1.2rem;
    padding: .876rem 1rem; }
  .wrapper .ui.default.dropdown:not(.button) > .text,
  .wrapper .ui.dropdown:not(.button) > .default.text {
    color: #009DA5; }
  .wrapper main {
    max-width: 95vw;
    margin: 0 auto; }
    @media (min-width: 540px) {
      .wrapper main {
        max-width: 86vw; } }
    @media (min-width: 1024px) {
      .wrapper main {
        max-width: 80vw; } }
    @media (min-width: 1280px) {
      .wrapper main {
        max-width: 74vw; } }
    .wrapper main .intro__text {
      font-size: 1rem;
      font-weight: 200;
      margin-top: 2rem;
      margin-bottom: 2rem;
      max-width: 77vw; }
      @media (min-width: 540px) {
        .wrapper main .intro__text {
          max-width: 70%;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 300;
          margin: .5rem auto 1.8rem auto; } }
  .wrapper .main__grid {
    display: grid; }
  .wrapper .main__grid__area--fridager {
    margin: 0 auto;
    min-width: 100%; }
    @media (min-width: 600px) {
      .wrapper .main__grid__area--fridager {
        min-width: 70%; } }
  .wrapper .card {
    margin-bottom: 20px;
    color: #22292f; }
    .wrapper .card__section__single {
      border: 1px solid #E5E5E5;
      background: #fff;
      padding: 18px 14px;
      position: relative;
      border-radius: 4px; }
      .wrapper .card__section__single--plug {
        display: grid;
        grid-gap: 20px; }
        .wrapper .card__section__single--plug img {
          width: 100%; }
        .wrapper .card__section__single--plug .card__text--title {
          max-width: 80%; }
        @media (min-width: 600px) {
          .wrapper .card__section__single--plug {
            grid-template-columns: 4fr 5fr; } }
    .wrapper .card__section {
      border: 1px solid #E5E5E5;
      background: #fff;
      padding: 18px 14px;
      position: relative;
      min-height: 60px;
      border-top: none; }
      .wrapper .card__section:first-of-type {
        border-top: 1px solid #E5E5E5;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px; }
      .wrapper .card__section:not([style*="display: none;"]):last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px; }
    .wrapper .card__btn--header {
      position: absolute;
      right: 10px;
      top: 9px; }
    .wrapper .card__text p {
      margin-bottom: 8px; }
    .wrapper .card__text--title {
      color: #22292f;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 8px; }
      .wrapper .card__text--title--big {
        font-size: 22px;
        line-height: 26px; }
    .wrapper .card__text--subtitle {
      color: #22292f;
      font-weight: 700; }
    .wrapper .card__text--sandwiched {
      color: #8795a1; }
    .wrapper .card__text--schoolsout {
      color: #25806E; }
    .wrapper .card__text a {
      text-decoration: none;
      font-weight: 400; }
  .wrapper .section__title {
    margin-bottom: .5rem; }
  .wrapper footer {
    background: rgba(0, 0, 0, 0.036);
    grid-column: 1 / -1;
    display: grid;
    min-height: 50px;
    align-content: center;
    font-size: .75rem;
    justify-content: right;
    padding: 0 18px 0 18px; }
    .wrapper footer a:link {
      color: #f1f5f8;
      text-decoration: none; }
    .wrapper footer a:hover {
      color: #dae1e7; }
    .wrapper footer a:active {
      color: #b8c2cc; }
    .wrapper footer a:visited {
      color: #f1f5f8; }

